@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,200;1,400&display=swap');

/* Color varibles declaration starts*/
:root {
    --primaryColor: #F3CA20;
    --secondaryColor: #F8F9FB;
    --blackSoft : #322E2F;
}
/* Color variable declaration ends */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: bolder;
    color: var(--blackSoft);
}
/* header styling */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    position: absolute;
}
header ul{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 ;

}
header ul li{
    list-style: none;
    margin-right: 2em;
}
header ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--primaryColor);
    transition: 0.7s ease-in-out;
    font-size: large;
}
header ul li a:hover{
    color: #ffffff;
    transform: scale(2,2);
}
.toggle-icon  {
    display: none;
}
.toggle-icon div {
    width: 25px;
    height: 4px;
    background-color: var(--primaryColor);
    margin: 4px;
    border-radius: 3px;
}



@media screen and (max-width : 768px){
    header ul{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        height: 80vh;
        margin-top: 6vh;
        background-color:rgb(19, 17, 17);
        top: 100%;
        width: 80%;
        transform: translateX(-12%);
        transition: 0.5s ease-in;
        opacity: 0;
        border-radius: 1rem;
     }
     header ul li{
        list-style: none;
        opacity: 0;
    }
    .toggle-icon  {
        display: block;
        margin-right: 2em;
        cursor: pointer;
    }
}
.nav-active{
    opacity: 1;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Header for web styling ends */

/* to top starts */

.top .icon{
    position: fixed;
    bottom: 3px;
    right: 3px;
    color: black;
    background-color: var(--blackSoft);
    width: 36px;
    height: 27px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
    .top .icon i{
    color: var(--secondaryColor);
}
@media screen and (max-width:768px){
    .top .icon{
        width: 25px;
    }
}
/* To top ens */

/* Hero bg design  starts*/
main{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}
main .left-section{
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
main .left-section .left-section-container{
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
main .left-section h1{
    font-weight: bold;
    color: var(--secondaryColor);
}
main .left-section h6{
    color: var(--primaryColor);
    letter-spacing: 3.2px;
}
main .left-section .subtext{
    letter-spacing: 1.7px;
}
main .left-section .readmore a{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
main .left-section .readmore a h6, main .left-section .readmore a i{
    font-weight: lighter;
    letter-spacing: 5px;
    color: white;
    opacity: 0.5;
    transition: transform 0.3s ease-in-out;
}
main .left-section .readmore a h6, main .left-section .readmore a i:hover{
    font-weight: lighter;
    letter-spacing: 5px;
    color: white;
    opacity: 0.5;
    background-color: none;
    transform: translateY(10px);
}
main .right-section{
    background-color: black;
    width: 50%;
    height: 100vh;
    background-image: url(./Images/hack.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
@media screen and (max-width : 768px){
    main{
        background-color: black;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        overflow: hidden;
        padding-bottom: 3em;
    }
    main .left-section h1{
        font-weight: bold;
        font-size: 15px;
    }
    main .left-section h6{
        letter-spacing: 2px;
        opacity: 0.5;
        font-weight: lighter;
        font-size: 11px;
    }
}
/* Hero bg design  ends*/

/* service area starts*/
.service-area {
    padding: 8em;
    text-align: center;
    background-color: var(--secondaryColor);
}
.service-area .service-container {
    display: flex ;
    align-items: stretch;
    justify-content: center;
    padding-top: 5em;
}
.service-area .service-container .card {
    width: 25rem;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4em;
    padding: 2em;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(19, 17, 17, 0.1);
}
.service-area .service-container .card .icon .fa-code{
    font-size: 3rem;
    margin-bottom: 0.5em;
    color: rgb(224, 146, 0);
}
.service-area .service-container .card .icon .fa-users-cog{
    font-size: 3rem;
    margin-bottom: 0.5em;
    color: rgb(16, 16, 156);
}
.service-area .service-container .card .icon .fa-pen{
    font-size: 3rem;
    margin-bottom: 0.5em;
    margin-top: -1em;
    color: rgb(190, 55, 21);
}
.service-area .service-container .card .icon .fa-paint-brush{
    font-size: 3rem;
    margin-bottom: 0.5em;
    margin-top: -1em;
    color: rgb(149, 66, 105);
}

.service-area .service-container .card .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-weight: lighter;
}
.service-area .service-head h1{
    font-weight: bolder;
    color: var(--blackSoft);
}
@media screen and (max-width:1600px){
    .service-area .service-container .card {
        width: 25rem;
        margin: 1em;
        padding: 2em;
        border: none;
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgba(19, 17, 17, 0.1);
    }
    .service-area {
        padding: 3em;
    }
}
@media screen and (max-width:1200px){
    .service-area .service-container .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25rem;
        margin: 2em;
        padding: 2em;
        border: none;
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgba(19, 17, 17, 0.1);
    }
    .service-area {
        padding: 5em;
        text-align: center;
        background-color: var(--secondaryColor);
    }
    .service-area .service-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:768px) {
    .service-area .service-container .card {
        width: 100%;
        margin: 1em;
        padding: 2em;
        border: none;
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgba(19, 17, 17, 0.1);
    }
    .service-area {
        padding: 2em;
        text-align: center;
        background-color: var(--secondaryColor);
    }
    .service-area .service-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 2em;
    }
    .service-area .service-head {
        margin-top: 2em;
    }
    .service-area .service-container .card h4 {
        color: var(--blackSoft);
        font-size: medium;
    }
    .service-area .service-container .card p{
        font-size: 14px;
    }
}

/* Service area ends */

/* reason area starts */
.reason-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
}
.reason-area .reason-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.reason-area .reason-container .card {
	margin-top: 10em;
	/* background-color: var(--secondaryColor); */
	border: none;
    border-radius: 20px;
    /* box-shadow: 2px 2px 10px rgba(19, 17, 17, 0.1); */
	height: 14em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reason-area .reason-container .card i{
    font-size: 3em;
    margin-bottom: 1em;

}
.reason-area .reason-container .faster ,.attractive ,.save-time, .quality-service{
    transition:0.3s ease-in-out;
}
.reason-area .reason-container .faster:hover{
    background-image: url(./Images/faster.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.reason-area .reason-container .attractive:hover{
    background-image: url(./Images/design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.reason-area .reason-container .save-time:hover{
    background-image: url(./Images/clock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.reason-area .reason-container .quality-service:hover{
    background-image: url(./Images/quality.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
@media screen and (max-width:1200px){
    .reason-area .reason-container .card {
        height: 10.5em;
        width: 22.5em;
    }
}
@media screen and (max-width:768px){
    .reason-area .reason-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }    
    .reason-up,.reason-down{
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reason-area .reason-container .card {
        height: 10.5em;
        width: 95%;
        margin-top: 2em;
    }
}
/* reason area ends */

/* About area starts */

.about-section {
    margin-top: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(./Images/fixedwrap-min.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding-left: 16em;
    padding-right: 16em;
}
.about-section .about-head h1 {
    color: var(--secondaryColor);
}
.about-section .about-container p{
    margin-top: 1em;
    color: var(--secondaryColor);
    font-size: 1.5em;
}
@media screen and (max-width:800px){
    .about-section .about-container p{
        color: var(--secondaryColor);
        font-size: 1em;
    }
    .about-section {
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* About area ends */

/* Subscribe section starts */

.subscribe-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
    padding-top: 3em;
    padding-bottom: 7em;
}
.subscribe-section .subscribe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 3em;
    width: 60%;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 20px;
    box-shadow:0.2px 0.2px 10px rgba(19, 17, 17, 0.1);
}
.subscribe-section .subscribe-box .name, .email ,.expectation {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.subscribe-section .subscribe-box input,textarea {
    width: 70%;
    resize: none;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(19, 17, 17, 0.1);
    padding: 1em;
    background-color: var(--secondaryColor);
    border: none;
}
.subscribe-section .subscribe-box .form-submit{
    width: 100%;
    display: flex;
    justify-content: center;
}
.subscribe-section .subscribe-box .form-submit input {
    margin-top: 2em;
    width: 20%;
    padding: 1em;
    border: none;
    border-radius: 8px;
    background-color: #F3CA20;
}

@media screen and (max-width:1000px){
    .subscribe-section .subscribe-box{
        width: 90%;
        padding-top: 1em;
    }
    .subscribe-section .subscribe-box input,textarea{
        width: 90%;
    }
    .subscribe-section .subscribe-box .form-submit input{
        width: 30%;
    }
}

/* Subscribe section ends */

/* Footer section starts */

footer{
    background-color: var(--blackSoft);
    margin-bottom: 0;
    display: flex;
    color: var(--secondaryColor);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
footer .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 3em;
}
footer .details .connect-head h6{
    font-size: larger;
    font-weight: bold;
}
footer .details .connect{
    display: flex;
    justify-content: space-between;
}
footer .details .connect i{
    font-size: 33px;
}
footer .details .connect .github i{
    color: white;
}
footer .details .connect .github i:hover{
    color: rgb(224, 224, 224);
}
footer .details .connect .instagram i{
    color: rgb(200, 21, 117);
}
footer .details .connect .instagram i:hover{
    color: rgb(131, 26, 82);
}
footer .details .footer-left-section p a{
    text-decoration: none;
    color: var(--secondaryColor);
}
footer .copyright {
    margin-top: 2em;
    opacity: .5;
}
footer span i{
    color: #F3CA20;
}
@media screen and (max-width:768px){
    footer .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-top: 3em;
        text-align: center;
    }
    footer .footer-right-section{ 
        margin-top: 1em;
    }
}
/* Footer section ends */